
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

.social-buttons {
    font-family: 'Roboto';
    font-size: 20px;

    &__item a { 
        text-decoration: none;
        color: $text-color;
    }
}

.skills {
    color: $text-color;
}

.resume-main {
    &__sidebar {
        font-family: 'Roboto';
        font-size: 20px;
    }
  }

.main-content {
    font-family: 'Roboto';
    font-size: 20px;
}