
// COLORS
$body-bg-color: rgba(0, 0, 0, 0.705);
$header-bg-color: #f5db44c2;
$header-text-color: black;
$main-bg-color: #f5db44c2;

// WIDTH AND HEIGHT

$header-width: 100%;
$resume-width: 80%;

// DECORATIONS

$shadow: 0 14px 28px rgba(0,0,0,0.6), 0 10px 20px rgba(0,0,0,0.4);