
// COLORS

$second-color: #fff;
$main-color: rgba(247, 202, 24, 1);
$text-color: black;
$alice-blue-trans: rgba(255, 255, 204, 0.5);
$bluewood-trans: rgba(235, 215, 43, 0.5);

// WIDTH AND HEIGHT

$header-width: 100%;
$resume-width: 60%;

// DECORATIONS

$shadow: 0 14px 28px rgba(0,0,0,0.6), 0 10px 20px rgba(0,0,0,0.4);