
.main-content {
  padding: 30px;
}

.skills {
  
  &__list {
    list-style: none;
  }

  &__item {
    margin-top: 10px;
    display: flex;
    
    & :nth-child(2) {
      margin-left: auto;
    }
  }
}