
.resume-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 30px;
  height: 95vh;
  background-color: $main-color;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: $shadow;
  margin-top: 30px;
}